#body{
    background-color: beige;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}

.titulo{
    background: rgb(157,151,255);
    background: linear-gradient(90deg, rgba(157,151,255,1) 0%, rgba(0,212,255,1) 100%);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 150px;
    padding-top: 8rem;
    padding-bottom: 8rem;


}

.subtitulo{
    font-size: 45px;
    float: left;
    width: 50%;
    display: inline-grid;

}

.boton{
     background-image: linear-gradient(to right, #7474BF 0%, #348AC7  51%, #7474BF  100%);
     padding: 30px;
     border-radius: 10px;
     margin-top: 50px;
     border-width: 4px;
     width: 200px;
     height: 120px;
     font-size: 45px; 
     box-shadow: 0px;
     text-align: center;
     border:3px solid black;
     
    
}

#containerc{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display:flex;
    float: right;
    font-size: 5rem;
    display: block;
    text-align: center;
    
}




@media screen and (max-width: 768px){
.titulo{
 min-width: 100%;
 max-width:100% ;
 font-size:70px;
}
.subtitulo{
    font-size: 30px;
}
.boton{
    width: 80px;
    height: 80px;
    font-size: 15px;
    text-align: center;
    box-shadow: none;
    outline: 0px;
    border:3px solid black;
    justify-content: center;
    padding-left: 13px;
    margin-top: 110px;
}

#containerc{
    font-size: 55px;
}
}
*{
    font-family: 'Space Grotesk', 'sans-serif' ;
    text-align: center;
}

#html{
    scroll-behavior: smooth;
}